p {
    text-align: left;
    text-indent: 2.5em;
    margin-left: 2em;
    margin-right: 2em;
}
body {
    background-color: rgb(231, 222, 209);
}
h1 {
    background-color: rgb(168, 167, 167);
    border: 3px solid blue;
    text-align: center;
    margin-bottom: 2em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    color: rgb(73, 73, 248);
}
.footer {
    text-align: center;
    color: gray;
    margin-top: 3em;
    font-size: smaller;
}
